/01_Options/bin
/01_Options/obj
/02_Map/bin
/02_Map/obj
/03_Bind/bin
/03_Bind/obj
/04_ErrorHandling/bin
/04_ErrorHandling/obj
/05_MonadsLaws/bin
/05_MonadsLaws/obj
/06_ExtendedSyntax/bin
/06_ExtendedSyntax/obj
/07_Async/bin
/07_Async/obj
/.vs/funcExamples/v15/*.suo
/_ReSharper.Caches
/.vs
/08_RealAppExample/bin
/08_RealAppExample/obj
